/*адаптив*/
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 370px);
    padding-right: calc(50% - 370px);
  }

  .product {
    width: 355px;

    &-content {
      column-gap: 27px;
      row-gap: 30px;
    }
  }

  .for {
    &__item {
      height: 268px;
    }
  }

  .footer {
    &__logo {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top__title {
    &--cart,
    &--catalog {
      margin-top: 99px;
      text-align: center;
      font-size: 48px;
      line-height: 59px;
    }
  }

  .menu {
    border: none;
    padding-top: 32px;

    &__logo {
      width: 99px;
    }

    &__input {
      display: none;
    }
  }

  .menu-box {
    display: none;
  }

  .menu-mob {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
  .top {
    text-align: center;
    &__title {
      font-size: 48px;
      line-height: 59px;
    }
    &__slogan {
      font-size: 16px;
      line-height: 32px;
    }
  }
  .catalog-link {
    font-size: 14px;
  }

  .caption {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    &__item {
      grid-column: 1/-1;
      height: 375px;

      font-size: 28px;
      line-height: 34px;
    }

    &__img--big {
      height: 244px;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .product {
    font-size: 18px;
    line-height: 22px;
  }
  .product-content {
    justify-content: center;
  }

  .crumbs-section {
    flex-wrap: wrap;
    gap: 16px;
  }

  .footer {
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 34px;
    }
    &__info {
      gap: 100px;
    }
  }

  .header {
    margin-bottom: 92px;
  }

  .cart {
    grid-column-gap: 0px;
    &__name-box {
      display: none;
    }

    &__img {
      display: none;
    }

    &__heading {
      font-size: 18px;
      line-height: 22px;
    }

    &__price {
      font-size: 14px;
      line-height: 17px;
    }

    &__btn {
      font-size: 12px;
      line-height: 15px;
      max-width: 188px;
      padding: 11px 6px;
    }
  }
}
